/* ==== BANNERS ==== */
.banner-ventas {
  background: linear-gradient(90deg, #1e3c72, #2a5298); /* Azul oscuro a azul medio */
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  animation: moveBanner 10s linear infinite;
}

.banner-pago {
  background: linear-gradient(90deg, #0072ff, #00c6ff); /* Azul intenso a celeste */
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 8px;
}

/* Animación para movimiento del banner */
@keyframes moveBanner {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
